
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Claim start</span>
        Confirm your claim start date
      </h1>

      <form action="start-date" method="post">

        {% call govukFieldset({
        }) %}

        <p>Your claim will start from today <strong>{{ todaysDate.original | moment }}</strong>.</p>

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "change-claim-start",
          name: "claimstart",
          fieldset: {
            legend: {
              text: "Do you want to change your claim start date?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
