{% extends "layout-no-back.html" %}

{% block pageTitle %}
  DWP - Apply for New Style Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><a href="https://jira.service.dwpcloud.uk/browse/BWADH-1401">Jira reference: 1401</a></span>
        Improve eligibility questions
      </h1>
      <p>Effort to improve the vagueness of eligibility for JSA to move away from might be/might not be eligible.
      Also looks at improvements to NI contributions questions. <a href="https://confluence.service.dwpcloud.uk/display/BWADH/Eligibility+-+National+Insurance+Contributions">DWP Confluence page</a>.</p>

      <p>Worked on by: Anne Ramsden, Gareth Joyce, Dan Howarth, Garrett Stettler</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-l">Versions</h2>

        <ul class="govuk-list">
                {# <p>The result of this eligibility check does not mean you will get the benefit.</p> #}

            <li>
                <span class="govuk-caption-m">27 October 2020</span>
                <h2 class="govuk-heading-m"><a href="/design-ideas/1401-eligibility/v6">#6 Stop and think</a></h2>
                  {{ govukDetails({
                    summaryText: "Gareth’s hypothesis",
                    html: '
                    <p>We’ve seen people wrongly saying they’ve made enough National Insurance contributions to get Jobseeker’s allowance;</p>
                    <p>so if we make users stop and think about NI;</p>
                    <p>we’ll see fewer applications rejected on the basis of NI contributions.</p>
                    '
                  }) }}
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>
            <li>
                <span class="govuk-caption-m">26 October 2020</span>
                <h2 class="govuk-heading-m"><a href="/design-ideas/1401-eligibility/v5">#5 Focus on past 2 to 3 years only</a></h2>
                  {{ govukDetails({
                    summaryText: "Rita’s hypothesis",
                    html: '
                    <p>We’ve seen people who have worked all their life until recently wrongly saying they’ve made enough National Insurance contributions to get Jobseeker’s allowance;</p>
                    <p>so if we make it clear we only care about the last 2 to 3 years;</p>
                    <p>we’ll see fewer applications rejected on the basis of NI contributions.</p>
                    '
                  }) }}
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>
            <li>
                <span class="govuk-caption-m">22 October 2020</span>
                <h2 class="govuk-heading-m"><a href="/design-ideas/1401-eligibility/v4">#4 Telling users we check</a></h2>
                  {{ govukDetails({
                    summaryText: "Gareth’s hypothesis",
                    html: '
                    <p>We’ve seen people apply to get Jobseeker’s allowance without checking their NI contributions;</p>
                    <p>so by telling them that we do a check, we’ll prompt users to check and;</p>
                    <p>we’ll see fewer applications rejected on the basis of NI contributions.</p>
                    '
                  }) }}
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>
            <li>
                <span class="govuk-caption-m">21 October 2020</span>
                <h2 class="govuk-heading-m"><a href="/design-ideas/1401-eligibility/v3">#3 Removing doubt and self serving</a></h2>
                {{ govukDetails({
                    summaryText: "Gareth’s hypotheses",
                    html: '
                    <p>We’ve seen people being told they are not eligible to get Jobseeker’s allowance after applying;</p>
                    <p>so if we provide clear information when we know they are or aren’t eligible;</p>
                    <p>we’ll see fewer applications rejected.</p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <p>We’ve seen people wrongly saying they’ve made enough National Insurance contributions to get Jobseeker’s allowance;</p>
                    <p>so if we provide clear signposting to help users find this out for themselves;</p>
                    <p>we’ll see fewer applications rejected on the basis of NI contributions.</p>
                    '
                  }) }}
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>
            <li>
                <span class="govuk-caption-m">9 October 2020</span>
                <h2 class="govuk-heading-m">#2 Provide users with information about NI contributions</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li><a href="/design-ideas/1401-eligibility/v2?version=2.1">Iteration 2.1</a></h2></li>
                  <li><a href="/design-ideas/1401-eligibility/v2?version=2">Iteration 2.0</a></li>
                </ul>
                {{ govukDetails({
                    summaryText: "Dan’s hypothesis",
                    html: '
                    <p>We’ve seen people wrongly saying they’ve made enough National Insurance contributions to get Jobseeker’s allowance;</p>
                    <p>so if we provide clear information about NI contributions and how the user will know if they’ve paid them;</p>
                    <p>we’ll see fewer applications rejected on the basis of NI contributions.</p>
                    '
                }) }}
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>
            <li>
                <span class="govuk-caption-m">9 October 2020</span>
                <h2 class="govuk-heading-m"><a href="/design-ideas/1401-eligibility/v1">#1 Ask about employment and benefits</a></h2>
                {{ govukDetails({
                    summaryText: "Anne’s hypothesis",
                    html: '
                    <p>We’ve seen people wrongly saying they’ve made enough National Insurance contributions to get Jobseeker’s allowance;</p>
                    <p>so if we ask specific questions about employment and benefits - rather than about NI contributions - and route the user accordingly;</p>
                    <p>we’ll see fewer applications rejected on the basis of NI contributions.</p>
                    '
                }) }}
                
            </li>
        </ul>
        
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  

{% endblock %}