{% extends "layout-no-back.html" %}

{% block pageTitle %}
  DWP - Apply for New Style Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><a href="https://jira.service.dwpcloud.uk/browse/BWADH-1401">Jira reference: 1401</a></span>
        Improve eligibility questions
      </h1>
      <p>Effort to improve the vagueness of eligibility for JSA to move away from might be/might not be eligible.
      Also looks at improvements to NI contributions questions. <a href="https://confluence.service.dwpcloud.uk/display/BWADH/Eligibility+-+National+Insurance+Contributions">DWP Confluence page</a>.</p>

      <p>Worked on by: Anne Ramsden, Gareth Joyce, Dan Howarth, Garrett Stettler</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-l">Versions</h2>

        <ul class="govuk-list">
            <li>
                <span class="govuk-caption-m">20 October 2020</span>
                <h2 class="govuk-heading-m"><a href="/design-ideas/1401-eligibility/v3">#3 - Gareth's hypothesis</a></h2>
                <p>We’ve seen people wrongly saying they’ve made enough National Insurance contributions to get New Style JSA.</p>
                <p>So if we provide clear information when we know they are or aren't eligible and signposting for users to 
                get support to find this out.</p>
                <p>We’ll see fewer applications rejected on the basis of NI contributions.</p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>
            <li>
                <span class="govuk-caption-m">9 October 2020</span>
                <h2 class="govuk-heading-m"><a href="/design-ideas/1401-eligibility/v2">#2 - Dan's hypothesis</a></h2>
                <p>We’ve seen people wrongly saying they’ve made enough National Insurance contributions to get New Style JSA.</p>
                <p>So if we provide clear information about NI contributions and how the user will know if they’ve paid them.</p>
                <p>We’ll see fewer applications rejected on the basis of NI contributions.</p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>
            <li>
                <span class="govuk-caption-m">9 October 2020</span>
                <h2 class="govuk-heading-m"><a href="/design-ideas/1401-eligibility/v1">#1 - Anne's hypothesis</a></h2>
                <p>We’ve seen people wrongly saying they’ve made enough National Insurance contributions to get New Style JSA.</p>
                <p>So if we ask specific questions about employment and benefits - rather than about NI contributions - and route the user accordingly.</p>
                <p>We’ll see fewer applications rejected on the basis of NI contributions.</p>
            </li>
        </ul>
        
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  

{% endblock %}