
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Based on your answers, you may be eligible for New Style Jobseeker&rsquo;s Allowance</h1>
            <p class="govuk-body">We will treat your personal information carefully. We may use it for any of our purposes. To learn about your information rights and how we use information, see our <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter">personal information charter</a>.</p>

        {{ govukButton({
            text: "Continue",
            href: "../2-claim-start/start-date"
        }) }}

        </div>
    </div>

{% endblock %}
