
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Application start date</span>
        Have you travelled outside of England, Wales or Scotland since 22 July 2020?
      </h1>

      <form action="been-on-holiday" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "been-on-holiday",
          name: "beenOnHoliday",
          hint: {
            text: ""
          },
          items: [{
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }]
        }) }}

        {{ govukButton({
            text: "Continue",
            href: "full-time-education"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
