
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Claim start date</span>
        Have you been ill and unable to work since 22 July 2020?
      </h1>

      <form action="unable-to-work" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "unable-to-work",
          name: "unableToWork",
          hint: {
            text: ""
          },
          items: [{
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }]
        }) }}

        {{ govukButton({
            text: "Continue",
            href: "been-on-holiday"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
